@import './styles/_chat.scss';
@import './styles/_colors.scss';
@import './styles/mixins';
@import './styles/cards';


* {
  box-sizing: border-box !important;
  margin: 0;
}

html, body {
  // background-color: rgba(black, 0.42) !important;
  height: 100%;
  width: 100%;
  background-image:url('/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: black;
  // color: white;
  // overflow: hidden;
}

#root, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.router {
  flex: 1;
  display: flex;
}