* {
  box-sizing: border-box !important;
  margin: 0;
}

html, body {
  // background-color: rgba(black, 0.42) !important;
  height: 100%;
  width: 100%;
  // background-color: black;
  // color: white;
  // overflow: hidden;
}

#root, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.router {
  flex: 1;
  display: flex;

  .home {
    margin: auto;  
  }

  .game-lobby {
    width:100%;
  }
}

.chat{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80%;

  .chat-messages {
    display: flex;
    flex-direction: column;
    
    .chat-message {
      display: flex;
      flex-direction: row;
      width: 100%;

      .chat-message-sender {
        width: 20%;
        font-weight: bold;
      }

      .chat-message-content {
        width: 80%;  
      }
    }
  }

  .chat-input-zone {
    display: flex;
    flex-direction: row;
    width: 100%;

    .input-message {
      width: 90%
    }
  }
}