.card {
    width: 150px;
    height: 200px;
    // border: 1px solid grey;
    border-radius: 9px;
    padding: 13px;

    color: white;
    font-size: 19px;
    line-height: 22px;
}

.propositon-card {
background-color: rgb(192, 55, 37);
}

.sentence-card {
background-color: rgb(0,34,77);
}