$gif_heigth: 400px;

.gif {
  width: 100%;
  margin: 15px;
  height: 0;
  min-height: $gif_heigth;
  // max-height: $gif_heigth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .gif-img {
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}