@import '../../styles/colors';
@import '../../styles/mixins';

.game {
  flex: 1;
  display: flex;
  flex-direction: row;

  .card {
    width: 130px;
    height: 180px;
    // border: 1px solid grey;
    border-radius: 9px;
    padding: 8px;

    color: white;
    font-size: 16px;
  }

  .propositon-card {
  background-color: rgb(192, 55, 37);
  }

  .sentence-card {
  background-color: rgb(0,34,77);
  }

  .card-selected {
    border-color: greenyellow;
  }

  .game-infos {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    
    .game-players {
      padding: 30px;

      display: flex;
      flex-direction: column;

      .player > * {
        padding: 5px 0;
      }
      .player {
        display: flex;
        flex-direction: row;

        border:3px solid $blue;
        border-radius: 5px;
        margin: 8px 0;

        font-weight: bold;
        color: $blue;
        font-size: 18px;

        .player-score {
          width: 15%;
          border-right: 3px solid $blue;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }
        .player-name {
          width: 70%;
          border-right: 3px solid $blue; 
          text-align: left;
          padding-left: 10px;
        }
      }
    
      .player-me, 
      .player-me .player-score, 
      .player-me .player-name
      {
        border-color: $red;
      }

      .first-player {
        border-color: $red;
        color: $red;

        .player-score {
          border-right-color: $red;
        }
        .player-name {
          width: 70%;
          border-right-color: $red;
        }
      }
    }
  
    .game-chat {
      flex: 1;
      height: 0px;
    }
  }

  .game-content {
    flex: 1;

    .player-action {
      display: flex;
      justify-content: center;
      .send-combination-btn {
      }
    }

    .game-before-start {
      @include fullFlex();
      flex-direction: column;
      justify-content: center;

      .game-before-start-infos {
        @include infoBox();
      }

      .start-game-btn {
        @include limitelimiteBtn();
        display: block;
        margin: 15px auto 0 auto;
        padding: 2px 40px;
      }
    }

    .game-main-player {
      @include fullFlex();
      flex-direction: column;
      justify-content: space-between;

      .game-main-player-sentence {
        margin: auto;
      }

      .game-main-player-infos {
        @include infoBox();
        margin: 40px auto;
      }
    }

    .game-prop-player {
      @include fullFlex();
      flex-direction: column;
      justify-content: space-around;
      
      .sentence {
        margin: auto;          
      }

      .hand {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          margin: 10px 15px;
        }

        .proposition-index {
          width: 100%;
          text-align: center;
          color: $blue;
          font-weight: bold;
          font-size: 20px;
          height: 35px;
        }

        .selected-proposition{
          position: relative;
        }

        .selected-proposition:after {
          content: '';
          position: absolute;
          top: -5px;
          left: -5px;
          bottom: -5px;
          right: -5px;
          border: 5px lightgreen solid;
          border-radius: 15px;
        }

      }

      .send-button {
        @include limitelimiteBtn();
        width: 125px;
        margin: auto;
      }
      .send-button-disabled {
        background-color: lighten($color: $red, $amount: 15)
      }

      .game-infos-zone {
        @include infoBox();
      }
    }

  }

  .game-result {
    @include fullFlex();
    flex-direction: column;
    justify-content: space-around;
    
    .game-result-sentence {
      margin: auto;
    }
    .game-result-propositions {
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;

      .player-propositions {
        @include fullFlex();
        width: fit-content;
        padding: 25px;
        margin: 20px;
        border: 3px solid $blue;
        border-radius: 10px;

        .propositon-card {
          margin: 0 10px;
        }
      }

      .chosen-prop {
        border-color: $red;
      }
    }
    .game-result-indication {
      @include infoBox();

      
      .timer {
       display: inline; 
      }
    }
  }
}