@import '../../styles/colors';
@import '../../styles/mixins';

.game {
    flex: 1;
    display: flex;
    flex-direction: row;
  
    .game-infos {
      display: flex;
      flex-direction: column;
      width: 350px;
      
      .game-players {
        padding: 30px;
  
        display: flex;
        flex-direction: column;
  
        .player {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          padding: 5px;
          border:3px solid $blue;
          border-radius: 5px;
          margin: 8px 0;
        }
      }
    
      .game-chat {
        flex: 1;
        flex-grow: 1;
  
        // border: 1px solid blue;  
      }
    }
  
    .game-content {
      flex: 1;
      border: 1px solid red;  
  
      .game-before-start {
  
      }
  
      .game-main-player {
  
      }
  
      .game-prop-player {
        @include fullFlex();
        flex-direction: column;
        justify-content: space-around;
        
        .sentence {
          margin: auto;          
        }
        .hand {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          .card {
            margin: 5px 25px;
          }

          .selected-proposition{
            position: relative;
          }
          .selected-proposition:after {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            bottom: -5px;
            right: -5px;
            border: 5px lightgreen solid;
            border-radius: 15px;
          }

        }
        .send-button {

        }
      }
  
      .game-prop-player {
  
      }
  
    }
}