$prop_ratio: 3/2;
$prop_width: 300px;

.proposition {
    width: $prop_width;
    min-height: $prop_width * (1 / $prop_ratio);
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 17px;
}
  
.proposition-selected {
    border-color: greenyellow;
}