@import '../../styles/colors';
@import '../../styles/mixins';

.game {
  flex: 1;
  display: flex;
  flex-direction: row;

  .game-infos {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    
    .game-players {
      padding: 30px;

      display: flex;
      flex-direction: column;

      .player > * {
        padding: 5px 0;
      }
      .player {
        display: flex;
        flex-direction: row;

        border:3px solid $blue;
        border-radius: 5px;
        margin: 8px 0;

        font-weight: bold;
        color: $blue;
        font-size: 18px;

        .player-score {
          width: 15%;
          border-right: 3px solid $blue;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }
        .player-name {
          width: 70%;
          border-right: 3px solid $blue; 
          text-align: left;
          padding-left: 10px;
        }
        .player-status {
          width: 15%;

          .player-status-is-boss {

          }
          .waiting-player {

          }
        }
      }
    
      .player-me, 
      .player-me .player-score, 
      .player-me .player-name
      {
        border-color: $red;
      }

      .first-player {
        border-color: $red;
        color: $red;

        .player-score {
          border-right-color: $red;
        }
        .player-name {
          width: 70%;
          border-right-color: $red;
        }
      }
    }
  
    .game-chat {
      flex: 1;
      height: 0px;
    }
  }

  .game-content {
    flex: 1;

    .game-before-start {
      @include fullFlex();
      flex-direction: column;
      justify-content: center;

      .game-before-start-infos {
        @include infoBox();
      }

      .start-game-btn {
        @include limitelimiteBtn();
        display: block;
        margin: 15px auto 0 auto;
        padding: 2px 40px;
      }
    }

    .game-prop {
      @include fullFlex();
      flex-direction: column;
      justify-content: space-between;

      .game-prop-gif {
      }

      .game-prop-form {
        margin: auto;
        width: 400px;

        .game-prop-input {
          width: 100%;
        }

        .game-prop-send-submit {
          width: 20%;
          margin: 20px auto;
          // .game-prop-send-btn {
          //   margin: auto;
          // }
        }

      }
    }

    .game-vote {
      @include fullFlex();
      flex-direction: column;
      justify-content: space-around;

      .game-vote-gif {
      }

      .game-vote-form {
        margin: auto;
        width: 400px;

        .game-vote-input {
          width: 100%;
        }

        .game-vote-send-submit {
          width: 20%;
          margin: 20px auto;
          // .game-prop-send-btn {
          //   margin: auto;
          // }
        }

      }
    }
  }
}

.game-infos-zone {
  @include infoBox();
}