@import '../../styles/colors';
@import '../../styles/mixins';

.game-lobby {
    @include fullFlex();

    .game-lobby-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .lobby-type-selection {
            display: flex;
            flex-direction: column;
            height: 250px;
            border: 1px solid red;

            .lobby-type-selection-title {
                text-align: center;
                margin-bottom: 30px;
            }

            .lobby-type-selection-list {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 600px;
                margin: auto;

                .lobby-type-selection-elt {
                    position: relative;
                    
                    $typeImage_height: 100px;
                    $typeImage_width: $typeImage_height;

                    .lobby-type-selection-elt-image {
                        width: 100px;
                        height: 100px;
                        margin: 0 30px;

                        border: 4px lightgray solid;
                        border-radius: 8px;
                    }
                    .lobby-type-selection-elt-image_selected {
                        border-color: lightgreen;
                    }

                    .lobby-type-selection-elt-descriptor {
                        position: absolute;
                        background-color: white;
                        top: 0;
                        left: $typeImage_width;
                        width: 200px;
                        
                        display: none;
                    }
                }
            }
        }

        .lobby-game-join-or-create {
            border: 1px blue solid;
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            
            .lobby-game-list {
                flex: 1;   
                border: 4px dotted orchid;
            }

            .join-or-create-separator {
                margin: auto 10px;
                height: 70%;
                border: 3px solid;
                border-radius: 12px;
            }

            .lobby-game-creator {
                flex: 1;
                border: 4px dotted orange;
            }
        }
    }

    .game-lobby-chat {
        height: auto;
        width: 350px;
        margin: 10px;
    }
}