@import '../../styles/colors';
@import '../../styles/mixins';

.game-lobby {
    @include fullFlex();

    .game-lobby-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 25px 15px 10px 15px;

        .lobby-type-selection {
            display: flex;
            flex-direction: column;
            height: 250px;
            // border: 1px solid red;
            border-bottom: 5px solid $blue;
            margin-bottom: 25px;

            .lobby-type-selection-title {
                text-align: center;
                margin-bottom: 30px;
                font-size: 20px;
            }

            .lobby-type-selection-list {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 600px;
                margin: auto;

                .lobby-type-selection-elt {
                    position: relative;
                    
                    $typeImage_height: 150px;
                    $typeImage_width: $typeImage_height;

                    .lobby-type-selection-elt-image {
                        width: $typeImage_width;
                        height: $typeImage_height;
                        margin: 0 30px;

                        border: 4px lightgray solid;
                        border-radius: 8px;
                    }
                    .lobby-type-selection-elt-image_selected {
                        border-color: lightgreen;
                    }

                    .lobby-type-selection-elt-descriptor {
                        position: absolute;
                        background-color: white;
                        top: 0;
                        left: $typeImage_width;
                        width: 200px;
                        
                        display: none;
                    }
                }
            }
        }

        .lobby-game-join-or-create {
            // border: 1px blue solid;
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            
            .lobby-game-list {
                flex: 1;   
                // border: 4px dotted orchid;
                display: flex;
                flex-direction: column;

                .lobby-game-list-title {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .lobby-game-list-grid {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    height: auto;
                    max-height: initial;

                    overflow-y: scroll;
                    
                    .lobby-game-list-elt {
                        // border: 1px lightblue solid;
                        border: solid 2px $blue;
                        border-radius: 10px;

                        background-color: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 10px;
                        margin-bottom: 10px;
                        height: 60px;
                        min-height: 60px;

                        .game-type {}
                        .game-creation-date {}
                        .game-population {}
                        .game-join-btn {
                            height: 80%;
                        }
                    }
                }
            }

            .join-or-create-separator {
                margin: auto 10px;
                height: 70%;
                border: 3px solid;
                border-radius: 12px;
            }

            .lobby-game-creator {
                flex: 1;
                height: 100%;
                
                .lobby-game-default-creator-form {
                    text-align: center;
                }
            }
        }
    }

    .game-lobby-chat {
        height: auto;
        width: 350px;
        margin: 10px;
    }
}