.set-card {
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.set-card-selected {
    border-color: greenyellow;
}