@import '../../styles/mixins';

.flip-game {

    .game-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .infos-zone {
            @include infoBox();
        }

        .ingame {
            .player {
                .cards {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }

}