.card-1_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -2px -1px;
}

.card-2_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -75px -1px;
}

.card-3_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -148px -1px;
}

.card-4_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -220px -1px;
}

.card-5_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -294px -1px;
}

.card-6_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -366px -1px;
}

.card-7_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -440px -1px;
}

.card-8_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -512px -1px;
}

.card-9_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -586px -1px;
}

.card-10_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -658px -1px;
}

.card-11_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -732px -1px;
}

.card-12_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -804px -1px;
}

.card-13_1 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -878px -1px;
}

.card-1_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -2px -99px;
}

.card-2_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -75px -99px;
}

.card-3_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -148px -99px;
}

.card-4_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -220px -99px;
}

.card-5_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -294px -99px;
}

.card-6_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -366px -99px;
}

.card-7_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -440px -99px;
}

.card-8_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -512px -99px;
}

.card-9_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -586px -99px;
}

.card-10_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -658px -99px;
}

.card-11_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -732px -99px;
}

.card-12_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -804px -99px;
}

.card-13_2 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -878px -99px;
}

.card-1_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -2px -197px;
}

.card-2_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -75px -197px;
}

.card-3_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -148px -197px;
}

.card-4_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -220px -197px;
}

.card-5_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -294px -197px;
}

.card-6_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -366px -197px;
}

.card-7_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -440px -197px;
}

.card-8_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -512px -197px;
}

.card-9_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -586px -197px;
}

.card-10_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -658px -197px;
}

.card-11_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -732px -197px;
}

.card-12_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -804px -197px;
}

.card-13_0 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -878px -197px;
}

.card-1_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -2px -295px;
}

.card-2_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -75px -295px;
}

.card-3_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -148px -295px;
}

.card-4_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -220px -295px;
}

.card-5_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -294px -295px;
}

.card-6_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -366px -295px;
}

.card-7_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -440px -295px;
}

.card-8_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -512px -295px;
}

.card-9_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -586px -295px;
}

.card-10_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -658px -295px;
}

.card-11_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -732px -295px;
}

.card-12_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -804px -295px;
}

.card-13_3 {
    width: 71px;
    height: 97px;
    background: url(sprite.png) -878px -295px;
}