@import '../../styles/colors';
@import '../../styles/mixins';

.game {
  flex: 1;
  display: flex;
  flex-direction: row;

  .game-infos {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    
    .game-players {
      padding: 30px;

      display: flex;
      flex-direction: column;

      .player > * {
        padding: 5px 0;
      }
      .player {
        display: flex;
        flex-direction: row;

        border:3px solid $blue;
        border-radius: 5px;
        margin: 8px 0;

        font-weight: bold;
        color: $blue;
        font-size: 18px;

        .player-score {
          width: 15%;
          border-right: 3px solid $blue;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }
        .player-name {
          width: 70%;
          border-right: 3px solid $blue; 
          text-align: left;
          padding-left: 10px;
        }
      }
    }
  
    .game-chat {
      flex: 1;
      height: 0px;
    }
  }

  .game-content {
    flex: 1;

    .game-part-bet {
      @include fullFlex();
      flex-direction: column;
      justify-content: space-around;

      .bet-content {
        display: flex;
        flex-direction: column;

        .bet-value-selector {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .bet-btn-change-value {
            margin: 0 20px;
          }
          // .bet-btn-decrease {

          // }
          // .bet-btn-increase {

          // }
          
          .bet-value {
            border: 3px solid black;
            width: 50px;
            text-align: center;
            height: 50px;
            line-height: 45px;
          }
        }
        .validate-bet {
          margin: auto;
          margin-top: 15px;
        }

      }

      .bet-hand {
        
      }
    }
  }
}