
.concept-sentence-card {
    height: 400px;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    
    display: flex;
    flex-direction: column;

    .sentence-groups {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .sentence-groups-elt {
            position: relative;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-width: 5px;
            border-style: solid;
            border-radius: 25px 0;
            padding: 15px;

            .sentence-groups-icon {
                position: relative;
                top: -40px;
                left: 100%;
                width: 40px;
                min-height: 40px;
                border-radius: 40px;

                display: flex;
                flex-direction: column;
                justify-content: center;
            } 

            .sentence-groups-content {
                flex: 1;
                position: absolute;
                left: -15 / 2 * 1px;
                right: 0;

                .sentence-elt {
                    flex: 1;
                    display: flex;
                    flex-direction: row;

                    .sentence-elt-number {
                        border: 2px solid black;
                        width: 20px;
                        text-align: center;
                        border-radius: 20px;
                    }
                    .sentence-elt-text {
                        width: 100%;
                        text-align: center;
                    }
                }
                .sentence-separator {
                    padding: 2px; 
                    height: 5px;
                    width: 67%;
                    border-bottom: 5px dotted gray;
                    margin: 0 auto;
                }
            }
        }

    }
    // .sentence-group-0 { 
    //     border-color: lightblue;
    //     .sentence-groups-icon { background-color: lightblue; }
    //     .sentence-elt-number { background-color: lightblue; }
    // }
    // .sentence-group-1 { 
    //     border-color: lightcoral;
    //     .sentence-groups-icon { background-color: lightcoral; }
    //     .sentence-elt-number { background-color: lightcoral; }
    // }
    // .sentence-group-2 { 
    //     border-color: black; 
    //     .sentence-groups-icon { background-color: black; }
    //     .sentence-elt-number { background-color: black; }
    // }
    $colors: lightblue lightcoral black;

    @mixin create_sentence_group($index, $color) {
        .sentence-group-#{$index} { 
            border-color: $color; 
            .sentence-groups-icon { background-color: $color; }
            .sentence-elt-number { 
                background-color: rgba($color, .3);
                border-color: $color !important; 
            }
        }
    }

    @for $i from 0 through 2 {
        @include create_sentence_group($i, nth($colors, $i + 1))
    }
}