.set-shape {
    margin: 0 10px;
    border: 3px solid black;
    
    .set-shape-content { 
        min-height: 100%; 
        min-width: 100%;
        border-radius: inherit;
    }
    
}

.shape-type-diamond {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.shape-type-line {
    width: 60px;
    height: 60px;
}
.shape-type-wave {
    width: 60px;
    height: 100px;
    border-radius: 60px/100px;
}


@mixin ShapeColorized($colorName, $color){
    .shape-color-#{$colorName} {
        border-color: $color;
        .shape-filling-empty { } 
        .shape-filling-striped { background-image: repeating-linear-gradient(
            90deg,
            white,
            white 5px,
            $color 5px,
            $color 10px /* determines size */
            );  
        } 
        .shape-filling-full { background-color: $color; }
    }
}

@include ShapeColorized('red', red);
@include ShapeColorized('green', green);
@include ShapeColorized('purple', purple);