.set-shape {
    width: 1/4*100%;
    text-align: center;
}

.shape-color-green { color: green; } 
.shape-color-purple { color: purple; } 
.shape-color-red { color: red; }

.shape-filling-empty { font-size: 18px; } 
.shape-filling-striped { font-size: 35p; } 
.shape-filling-full { font-size: 65px; }